<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mask Detection</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Mask Detection</h1>
        <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <br><br>
            <input type="submit" value="Predict">
        </form>
        {% if prediction %}
        <p>{{ prediction }}</p>
        {% endif %}
    </body>
</html>